.tts-player {
    position: fixed;
    top: 20px;
    right: 20px;
    background: #333;   
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    display: flex;
    align-items: center;
    z-index: 1000;
}
.tts-player select {
    margin-right: 10px;
    background: #333; 
    color: #fff;
    
}
.tts-player button {
    background: none;
    border: none;
    margin: 0 5px;
    font-size: 20px;
    cursor: pointer;
    color: #fff;
}
.highlight {
    box-shadow: #333;
}
