body {
    font-family: Arial, sans-serif;
    padding: 20px;
    margin-top: 80px;
}
.widget {
    position: fixed;
    top: 20px;
    right: 20px;
    background: #333;   
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    display: flex;
    align-items: center;
    z-index: 1000;
}
.widget select {
    margin-right: 10px;
    background: #333; 
    color: #fff;
    
}
.widget button {
    background: none;
    border: none;
    margin: 0 5px;
    font-size: 20px;
    cursor: pointer;
    color: #fff;
}
.highlight-glow {
    animation: glow 8s infinite;
    border-radius: 4px; 
}
@keyframes glow {
0% {
box-shadow: 0 0 1px red, 0 0 10px red;
}
33% {
box-shadow: 0 0 1px blue, 0 0 10px blue;
}
66% {
box-shadow: 0 0 1px blue, 0 0 10px green;
}
100% {
box-shadow: 0 0 1px gren, 0 0 10px red;
}
}

#text-container { display: block; margin-left: auto; margin-right: auto; width: 50vw;}
#text-container div { padding: 20px; background: transparent;}
